
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    background-color: lightgray;
    width: 400px;
    height: 600px;
    /* margin: 20px auto;  */
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow:0 0 4px #1f1f1f;
    margin-top: 100px;
}

#page-baner {
    text-align: center;
    padding: 10px;
}

.title {
    margin-bottom: 10px;
    font-size: 1.5em;
}

#search-book input {
    width: 80%; 
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

ul li {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    transition: opacity 2.3s ease, height 2.3s ease;
    border-left: 2px solid tomato;
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9; 
    border-radius: 3px;
}

.name {
    padding: 10px 20px;
    color: blue;
    /* display: block;  */
}

.delete {
    padding: 5px;
    color: white;
    background-color: lightcoral;
    /* display: inline-block;  */
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer; 
}

.delete:hover {
    background-color: darkred; 
}

#book-list {
    margin-top: 20px;
    padding: 15px;

}

#book-list h2.title {
    text-align: center;
}

#book-list ul {
    width: 100%;
    height: 300px;
    overflow-y: scroll; 
    padding: 0;
    margin: 0;
    list-style: none;
    visibility: visible;
}

#add-book {
    padding: 15px;
    text-align: left;
    margin-top: 10px;
}
.check{
    margin-left: 20px;
}

.textbox {
    width: 75%;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-right: 5px; 
}

.button {
    display: inline-block;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: darkgreen;
}
